body {
	font-family: 'Amaranth', sans-serif;
	background: #626262;
	margin: 0 auto;
	line-height: 2em;

}
p {
	line-height: 2em;
}
a {
	text-decoration: none;
	font-weight: 900;
}
#arrow1 {
	height: 50px;
	width: 60px;
	margin-right: 350px;
	opacity: .8;
}


.jumbotron {
	background-image: url('../blossom.jpg');
	text-align: right;
	margin-bottom: 300px;
	margin-top: 0;
	background-size: cover;
	background-repeat: no-repeat;
	height: 1000px;
	background-attachment: fixed;
	width: 100%;
	background-color: #626262;
}

.jumbotron h1 {
	font-size: 140px;
	font-weight: bold;
	color: white;
	margin-top: 5%;
	letter-spacing: 8px;
	margin-right: 150px;
}
.jumbotron p {
	color: white ;
	font-size: 50px;
	font-weight: bold;
	margin-right: 150px;
}
.welcome-text h1{
	font-size: 90px;
	text-align: center;
	color: #5E9071;
	margin-bottom: 100px;
}	

/*Navbar Style */

.topnav {
	background-color: #5E9071;
	overflow: hidden;
	padding: 10px;
	position: fixed;
	width: 100%;
	opacity: .7;
	z-index: 999;

}
.topnav a {
	float:left;
	display: block;
	color: white;
	opacity: .7;
	text-align: center;
	padding: 14px 16px;
	font-family: 'Amaranth', sans-serif;
	justify-content: space-between;
	font-size: 20px;

}
.treelogo {
	height: 50px;
	width: 50px;
	padding: none;
}
.active {
	background-color:#7C7063;
	color: white;
}
.topnav .icon {
	display: none;

}
@media screen and (max-width: 600px) {
	.topnav a:not(:first-child) {display: none;}
	.topnav a.icon {
		float: right;
		display: block;
	}
	.jumbotron h1 {
		font-size: 60px;
	}
	.jumbotron {
		height: 600px;
	}
	.jumbotron p {
		font-size: 40px;
	}
}
@media screen and (max-width: 600px) {
	.topnav.responsive {position: relative;}
	.topnav.responsive a.icon {
		position: fixed;
		right: 0;
		top: 0;
	}
	.topnav.responsive a {
		float: none;
		display: block;
		text-align: left;
	}
}
div.section, .portfolio-images {
	margin: 40px auto;
	max-width: 850px;
	box-sizing: border-box;
	
}

.flex-grid {
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	align-items: stretch;
	

}

.flex-grid.nowrap {
	flex-wrap: nowrap;
}
.flex-grid.nowrap.skills {
	/*align-items: center;*/

}
/*About Styling */

.about-item {
	
	flex-grow: 1;
	align-self: top;
	float: center;
	padding: 10px;
	margin-bottom: 50px;
	margin-left: -150px;

}
.about-item h2 {
	color: #5E9071;
	font-size: 45px;
}

.about-item h5 {
	font-size: 1.1em;
	color: #5E9071;
	margin-left: 150px;
}

.about-item p {
	/*margin: 10px auto;*/
	font-size: 15px;
	color: white;

	
	
}

.about-item ul {
	list-style: none;
	padding-left: 0;
	margin-bottom: 15px;
	color: white;
	margin-left: 150px;
	padding-right: 0;
	

}


li {
	font-size: 1em;
	
}

.about-item.skills {
	padding: 10px;
	min-width: 25%;
	margin-left: -50px;
	margin-bottom: 200px;
}

.flex-grid.nowrap.skills {
	align-items: flex-start;
	/*margin-left: 400px;*/
	

}





#me {
	height: auto;
	width: 30vw;
	opacity: .9;
	-webkit-filter: grayscale(100%); 
    filter: grayscale(100%);
    border-radius: 10px;
    padding: none;
    margin-right: 0;
    
}
#image {
	padding: none;
	margin-left: -100px;
	
}

/*Portfolio Items*/

#featured-projects h2, #featured-projects hr, .skills-header hr {
	margin-left: 15px;
}
#featured-projects h2 {
	color: #5E9071;
	font-size: 50px;
	
}
.project1 h3 {
	font-size: 40px;
	font-weight: bold;
	color: black;
}
.project2 a {
	color: white!important;
	font-size: 40px;
	font-weight: bold;
	
}
.project3 h3 {
	color: black;
	font-size: 40px;
	font-weight: bold;
}
.project4 a {
	font-size: 40px;
	font-weight: bold;
	color: white!important;
	
}
.project-item h5 {
	display: block;
	width: 100%;

}
.project-item a:hover {
	background-position: 50% 50%;
	font-size: 50px;
	cursor: pointer;
	text-decoration: none;

}

.portfolio-text {
	margin: 0 auto;
	width: 100%;
	letter-spacing: 1px;
}
.portfolio-text a {
	color: black;
}
.project1 h5, .project3 h5 {
	color: black;
	font-size: 20px;
	font-weight: 900;
}
.project4 h5, .project2 h5 {
	color: white;
	font-size: 20px;
	font-weight: 900;

}
#featured-projects {
	margin-bottom: 200px;
}

.project-item {
	display: flex;
	text-align: center;
	height: 200px;
	box-sizing: border-box;
	align-items: center;
	flex-grow: 1;
	min-width: 400px;
	border-radius: 20px;
	/*border: 6px solid white;*/
	margin: 10px;

	
}
.project1 {
	background-image: url('../map.jpg');
	background-size: 180%;
	background-position: 50% 50%;
	background-repeat: no-repeat;

}
.project2 {
	background-image: url('../evergreen.jpeg');
	background-size: 180%;
	background-position: 50% 50%;
	background-repeat: no-repeat;
}
.project3 {
	background-image: url('../meeting.jpg');
	background-size: 180%;
	background-position: 50% 50%;
	background-repeat: no-repeat;
}
.project4 {
	background-image: url('../car.jpg');
	background-size: 180%;
	background-position: 50% 50%;
	background-repeat: no-repeat;
}
/*Footer Style */
footer {
	position: absolute;
	display: inline-block;
	width: 100%;
	margin-top: 15px;
	padding: 70px 40px;
	text-align: center;
	background: #5E9071;
	margin-left: 0;
	opacity: .8;

}
.footer-content h4 {
	margin-bottom: .75em;
	font-size: 40px;
	color: white;
	
}
.footer-content p {
	display: inline-block;
	padding: 20px;
	color: gray;
}
.footer-content a {
	color: white;
	opacity: .7;
}
.icon-label {
	font-family: 'Amaranth', sans-serif;
	font-size: 20px;
}
.footer-content a:hover {
	color: #629286;
}

.footer-content {
	margin: 0 auto;
	display: inline-block;
	font-size: 20px;

}
/* Large Screens */

@media all and (min-width: 1400px){
	div.section, .portfolio-images {
		max-width: 1000px;
	}
}
/*Medium Screen */

@media all and (max-width: 900px) {
	div.section {
		/*padding: 10px;*/
		width: 100%;
	}

	div.section.portfolio {
		padding: 20px;
	}
	.portfolio-images {
		padding-left: 0;
		padding-right: 0;
		margin-left: 0;
		margin-right: 0;
		max-width: 100%;
	}
}

@media all and (max-width: 780px){

	footer p {
		display: block;
		text-align: left;
	}

	footer {
		padding: 20px;
	}
	.about-item p {
		font-size: 15px;
		margin-left: 160px;
	}
	.about-item h2 {
		font-size: 30px;
		margin-left: 160px;
	}
	.about-item hr {
		margin-left: 160px;
	}
	.skills-header hr {
		width: 95%;
	}
	.skills-header h1 {
		margin-left: 20px;
		font-size: 40px;
	}
	.about-item.skills {
		margin-left: -120px;
	}
	#me {
		margin-left: 250px;
		width: 50vw;
		margin-bottom: 50px;
	}
	footer {
		margin-left: 0;
	}
	.jumbotron h1 {
		font-size: 80px;
	}
	.jumbotron p {
		font-size: 50px;
	}
	.jumbotron {
		background-size: 100% 100%;
	}

/* Mobile */

@media all and (max-width: 400px){
	.project-item{
		min-width: 300px;
		margin-top: 10px;
		
	}
	.project-item h3 {
		font-size: 2em;
		line-height: 1.2em;
		padding: 0px 10px;
	}
	.about-item p {
		
		justify-content: flex-start;
		text-align: center;
		margin-left: 150px;
	}
	.about-item h2 {
		text-align: center;
	}
	#featured-projects h2, .skills-header h1 {
		text-align: center;
	}
	.welcome-text h1 {
		font-size: 70px;
	}
	#me {
		width: 80vw;
	
	}
	.jumbotron h1 {
		font-size: 60px;
		margin-top: 100px;
		text-align: left;
	}
	.jumbotron p {
		font-size: 40px;
		line-height: 40px;
		text-align: left;
		margin-top: 50px;
	}
	.jumbotron {
		background-size: cover;
		height: 700px;
		width: 100%;
	}
	#me {
		margin-left: 125px;
	}
	.about-item h2 {
		font-size: 30px;
		margin-left: 150px;
	}
	footer {
		margin-left: 0;
	}
	a {
		font-size: 40px;
		font-weight: 600px;
	}
	.about-item.skills h5 {
		margin-left: 198px;

	}
	.about-item.skills {
		margin-left: -180px;
		padding:;
	}

	

}

/*SCROLLING STYLE*/

.sr .project-item { visibility: hidden;
} 
.flex-grid { perspective: 800px; }