body {
	font-family: 'Amaranth', sans-serif;
	background:#5F5C58;
	margin: 0 auto;
	line-height: 2em;

}
p {
	line-height: 2em;
}
a {
	text-decoration: none;
	font-weight: 900;
}

.jumbotron {
	background-image: url('../flower.jpg');
	text-align: center;
	margin-bottom: 0;
	background-repeat: no-repeat;
	background-size: cover;
	height: 800px;
	opacity: .7;
	width: 100%;
}

.jumbotron h1 {
	font-size: 180px;
	font-weight: bold;
	color: white;
	opacity: .8;
	margin-top: 10%;
	letter-spacing: 8px;
}
.jumbotron p {
	color: white;
	font-size: 40px;
	opacity: .7;
}	

/*Navbar Style */

.topnav {
	background-color: #475647;
	overflow: hidden;
	padding: 10px;
	position: fixed;
	z-index: 999;
	width: 100%;
	opacity: .8;
}
.topnav a {
	float:left;
	display: block;
	color: white;
	opacity: .7;
	text-align: center;
	padding: 14px 16px;
	font-family: 'Amaranth', sans-serif;
	justify-content: space-between;
	font-size: 20px;
}
.topnav a:hover {
	background-color:#405D50;
}
.treelogo {
	height: 50px;
	width: 50px;
	padding: none;
}
.active {
	background-color:#626262;
	color: white;
}
.topnav .icon {
	display: none;

}
@media screen and (max-width: 600px) {
	.topnav a:not(:first-child) {display: none;}
	.topnav a.icon {
		float: right;
		display: block;
	}
	.jumbotron h1 {
		font-size: 60px;
	}
	.jumbotron {
		height: 400px;
	}
}
@media screen and (max-width: 600px) {
	.topnav.responsive {position: relative;}
	.topnav.responsive a.icon {
		position: fixed;
		right: 0;
		top: 0;
	}
	.topnav.responsive a {
		float: none;
		display: block;
		text-align: left;
	}
}
div.section, .portfolio-images {
	margin: 40px auto;
	max-width: 850px;
	box-sizing: border-box;
	
}

.flex-grid {
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	align-items: stretch;
	margin: 0 auto;
}

.flex-grid.nowrap {
	flex-wrap: nowrap;
}
/*About Styling */

.about-item {
	
	flex-grow: 1;
	align-self: top;

}
.about-item h2 {
	color: white;
	
}

.about-item h5 {
	font-size: 1.1em;
	color: white;
}

.about-item p {
	/*margin: 10px auto;*/
	font-size: 15px;
	color: white;
	
	
}

.about-item ul {
	list-style: none;
	padding-left: 0;
	margin-bottom: 15px;
	color: #45827A;
	/*margin-right: 20px;*/
	padding-right: 0;
	

}


li {
	font-size: 1em;
	
}

.about-item.skills {
	padding: 20px;
	
	min-width: 25%;
}

.flex-grid.nowrap.skills {
	align-items: flex-start;
	

}
.headshot {
	text-align: center;
}

#me {
	height: auto;
	width: 22em;
	opacity: .9;
	-webkit-filter: grayscale(100%); 
    filter: grayscale(100%);
    
    
}
.about-container {
	
}
/*Portfolio Items*/

#featured-projects h2, #featured-projects hr {
	margin-left: 15px;
}
#featured-projects h2 {
	color: white;
	opacity: .7;
}
.project1 h3 {
	font-size: 40px;
	font-weight: bold;
	color: black;
}
.project2 a {
	color: white!important;
	font-size: 40px;
	font-weight: bold;
	
}
.project3 h3 {
	color: black;
	font-size: 40px;
	font-weight: bold;
}
.project4 a {
	font-size: 40px;
	font-weight: bold;
	color: white!important;
	
}
.project-item h5 {
	display: block;
	width: 100%;

}
.project-item a:hover {
	background-position: 50% 50%;
	font-size: 50px;
	cursor: pointer;
	text-decoration: none;

}

.portfolio-text {
	margin: 0 auto;
	width: 100%;
	letter-spacing: 1px;
}
.portfolio-text a {
	color: black;
}
.project1 h5, .project3 h5 {
	color: black;
	font-size: 20px;
	font-weight: 900;
}
.project4 h5, .project2 h5 {
	color: white;
	font-size: 20px;
	font-weight: 900;

}

.project-item {
	display: flex;
	text-align: center;
	height: 200px;
	margin: 10px;
	box-sizing: border-box;
	align-items: center;
	flex-grow: 1;
	min-width: 400px;
	border-radius: 20px;
	border: 4px solid gray;
}
.project1 {
	background-image: url('../map.jpg');
	background-size: 180%;
	background-position: 50% 50%;
	background-repeat: no-repeat;
}
.project2 {
	background-image: url('../evergreen.jpeg');
	background-size: 180%;
	background-position: 50% 50%;
	background-repeat: no-repeat;
}
.project3 {
	background-image: url('../meeting.jpg');
	background-size: 180%;
	background-position: 50% 50%;
	background-repeat: no-repeat;
}
.project4 {
	background-image: url('../car.jpg');
	background-size: 180%;
	background-position: 50% 50%;
	background-repeat: no-repeat;
}
/*Footer Style */
footer {
	position: absolute;
	display: inline-block;
	width: 100%;
	/*box-sizing: border-box;*/
	margin: 0;
	margin-top: 15px;
	padding: 70px 40px;
	text-align: center;
	background: #475647;
}
.footer-content h4 {
	margin-bottom: .75em;
	font-size: 40px;
	color: white;
	opacity: .7;
}
.footer-content p {
	display: inline-block;
	padding: 20px;
	color: gray;
}
.footer-content a {
	color: white;
	opacity: .7;
}
.icon-label {
	font-family: 'Amaranth', sans-serif;
	font-size: 20px;
}
.footer-content a:hover {
	color: #629286;
}

.footer-content {
	margin: 0 auto;
	display: inline-block;
	font-size: 20px;

}
/* Large Screens */

@media all and (min-width: 1400px){
	div.section, .portfolio-images {
		max-width: 1000px;
	}
}
/*Medium Screen */

@media all and (max-width: 900px) {
	div.section {
		padding: 10px;
		width: 100%;
	}

	div.section.portfolio {
		padding: 20px;
	}
	.portfolio-images {
		padding-left: 0;
		padding-right: 0;
		margin-left: 0;
		margin-right: 0;
		max-width: 100%;
	}
}

@media all and (max-width: 780px){

	footer p {
		display: block;
		text-align: left;
	}

	footer {
		padding: 20px;
	}
	.about-item p {
		font-size: 15px;
	}

/* Mobile */

@media all and (max-width: 400px){
	.project-item .portfolio-text {
		padding: 50px;
	}
	.project-item h3 {
		font-size: 2em;
		line-height: 1.2em;
		padding: 0px 10px;
	}
	.about-item p {
		
		justify-content: flex-start;
		text-align: center;
	}
	.about-item h2 {
		text-align: center;
	}
	#featured-projects h2 {
		text-align: center;
	}
	#me {
		padding-left: 40px;
	}
	.project-item {
		margin: 10px 0 10px 0;
	}


}

