body {
	background-color: #475647;
}

#name{
	font-family: 'Julius Sans One', sans-serif;
	text-align: left;
	font-weight: 100;
	font-size: 50px;
	opacity: .7;
	color: white;
	font-weight: bold;
	margin-top: 15px;

}
#mainname {
	color: black;
	font-family: 'Julius Sans One', sans-serif;
	margin-top: 15px;
	font-size: 80px;
}

#subheader {
	font-family: 'Julius Sans One', sans-serif;
	text-align: left;
	font-size: 40px;
	font-weight: bold;


}
.bgimg-1, .bgimg-2, .bgimg-3 {
  	opacity: .9;
    background-attachment: fixed;
    /*background-position: center;*/
    background-repeat: no-repeat;
    background-size: cover;
    
}
.bgimg-1 {
	background-image: url("forest.jpg");
	min-height: 900px;
}
.bgimg-2 {
	background-image: url("project1.png");
	/*margin-bottom: 100px;
	background-size: 1000px;*/
	min-height: 800px;
	width: 100%;
	

}
.bgimg-3 {
	background-image: url("project2.png");
	min-height: 1000px;
	width: 100%;
	/*background-position: 0px 50px;*/
}

.navbar {
    overflow: hidden;
    position: fixed; /* Set the navbar to fixed position */
    top: 0; /* Position the navbar at the top of the page */
    width: 100%; /* Full width */
    background-color: gray;
    opacity: 0.7;
    z-index: 999;
}

/* Links inside the navbar */
.navbar a {
    float: left;
    display: block;
    text-align: center;
    text-decoration: none;
    z-index: 1;
    font-family: 'Julius Sans One', sans-serif;
    padding: 10px 0 10px 0;
    color: black;
 }  

/* Change background on mouse-over */
.navbar a:hover {
    color: black;
}

.headers {
	 font-family: 'Julius Sans One', sans-serif;
	 text-align: center;
}
p {
	text-align: center;
	font-family: 'Julius Sans One', sans-serif;
	font-size: 20px;
	background-color: gray;

}
a {
	text-align: center;
	font-family: 'Julius Sans One', sans-serif;
	font-size: 20px;
	color: white;

}
a hover: {
	color: #6A5C55;
}
.profile-img {
	margin-top: 10px;
	margin-bottom: 10px;
    width: 100%;
    height: auto;
    opacity: .8;
    border-radius: 80px;
}
.about {
	color: black;
	min-height: 100px;
	background-size: 100%;
	border-radius: 50px;
}
.about-container{
	background-color: #A0998D;
	border-radius: 20px;
	margin-top: 20px;

}
.aboutmestuff {
	background: white;
	border-radius: 50px;
	width: 100%;
	height: auto;
	text-align: center;
    font-size: 18px;
    opacity: .5;
	padding: 10px;
}

footer {
	text-align: center;
	background-color: #6A5C55;
	position: fixed;
	right: 0;
	bottom: 0;
	left: 0;
	font-size: 15px;
	width: 100%;
	font-weight: bold;
	color: white;
	height: 1rem;
	padding: 2rem;
	font-family: 'Julius Sans One', sans-serif; 
	opacity: .6;
}
#footer {
	text-align: center!important;
	font-size: 15px;
}	
