

#name{
	font-family: 'Julius Sans One', sans-serif;
	text-align: left;
	font-weight: 100;
	font-size: 50px;
	opacity: .7;
	color: black;
	font-weight: bold;

}

#subheader {
	font-family: 'Julius Sans One', sans-serif;
	text-align: left;
	font-size: 25px;
	font-weight: bold;


}
.bgimg-1, .bgimg-2, .bgimg-3 {
    /* The image used */
  	position: relative;
  	opacity: .9;
    /* Create the parallax scrolling effect */
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    
}
.bgimg-1 {
	background-image: url("forest.jpg");
	min-height: 700px;
}
.bgimg-2 {
	background-image: url("project1.png");
	margin-bottom: 100px;
	background-size: 1000px;
	min-height: 500px;
	width: 100%;
	

}
.bgimg-3 {
	background-image: url("project2.png");
	margin-bottom: 100px;
	background-size: 1000px;
	min-height: 800px;
	width: 100%;
}

.navbar {
    overflow: hidden;
    position: fixed; /* Set the navbar to fixed position */
    bottom: 0; /* Position the navbar at the top of the page */
    width: 100%; /* Full width */
}

/* Links inside the navbar */
.navbar a {
    float: left;
    display: block;
    text-align: center;
    text-decoration: none;
    z-index: 1;
    font-family: 'Julius Sans One', sans-serif;
    padding: 30px 0 30px 0;
    color: black;
 }  

/* Change background on mouse-over */
.navbar a:hover {
    color: black;
}

.headers {
	 font-family: 'Julius Sans One', sans-serif;
	 text-align: center;
}
p {
	text-align: center;
	font-family: 'Julius Sans One', sans-serif;
	font-size: 20px;

}
.center {
    float: left;
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 30%;
    height: 30%;
    opacity: .8;
    border-radius: 80px;

    
}
#about {
	color: black;
	background-color:#7E996F;
	text-align:center;
	padding:50px 80px;
	text-align: justify;
	min-height: 600px;
	background-size: 100%;
	border-radius: 50px;
}
.aboutmestuff {
	background: gray;
	border-radius: 30px;
	width: 60%;
	text-align: center;
	display: block;
	margin-left: auto;
    margin-right: auto;
    float: right;
    font-size: 18px;
    opacity: .7;

}
.container1 {
	background-color:#7FA292;
	min-height: 800px;

}

footer {
	background-color: #6A5C55;
	position: fixed;
	right: 0;
	bottom: 0;
	left: 0;
	font-size: 15px;
	width: 100%;
	font-weight: bold;
	color: white;
	height: 3rem;
	padding: 2rem;
	font-family: 'Julius Sans One', sans-serif; 
}
#footer {
	text-align: center!important;
	font-size: 15px;
}	
